.header {
  height: 150px;
  text-align: center;
  background-color: blanchedalmond;
  line-height: 150px;
}

.moviesContainer {
  padding-top: 40px;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-template-rows: auto;
  gap: 64px;
  justify-items: center;
  background-color: darkkhaki;
}

.paginationContainer {
  background-color: rgb(230, 157, 133);
  justify-content: center;
  display: flex;
  padding: 8px 0;
}
