.header {
  height: 150px;
  text-align: center;
  background-color: rgb(36, 35, 33);
  line-height: 150px;
}

.moviesContainer {
  padding-top: 40px;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-template-rows: auto;
  gap: 64px;
  justify-items: center;
  background-color: darkkhaki;
}

.paginationContainer {
  background-color: rgb(245, 241, 241);
  justify-content: center;
  display: flex;
  padding: 8px 0;
}

.pagination {
  font-size: 24px !important;
  font-weight: bolder;
}

.favouritePageLink {
  position: absolute;
  top: 14px;
  right: 24px;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  color: whitesmoke;
  letter-spacing: 0.5mm;
  text-decoration: none;
}

.favouritePageLink:hover {
  opacity: 0.8;
}

.MuiPaginationItem-root.Mui-selected {
  background-color: red !important;
}
