.header {
  height: 150px;
  text-align: center;
  background-color: blanchedalmond;
  line-height: 150px;
}

.moviesContainer {
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-template-rows: auto;
  gap: 64px;
  justify-items: center;
  border: solid 1px;
  background-color: darkkhaki;
}
