.pageContainer {
  position: absolute;
  min-height: 100vh;
  width: 100%;
  background-image: url("../assets//background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #121485;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.movieDetails {
  display: flex;
  padding: 48px;
  font-size: 24px;
}

.imgWrapper {
  padding: 24px;
}

.img {
  border-radius: 8px;
  float: left;
  max-width: 100%;
  width: 500px;
}

.movieDataList {
  padding: 16px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: rgb(224, 218, 211);
  list-style: none;
}

.movieDataList li {
  padding: 8px;
  font-weight: bold;
}

.movieDataList li:nth-child(even) {
  color: crimson;
}

.navigationButton {
}

.navigationButton:hover {
  cursor: pointer;
  opacity: 0.9;
}

ul {
  position: relative;
}

.backButton {
  margin: 8px;
}
.starWrapper {
  color: rgb(200, 169, 30);
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 2;
  width: 40px;
}
