.emptyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(88, 88, 74);
  border-top: inset;
  background: linear-gradient(
    90deg,
    rgba(88, 88, 74, 1) 0%,
    rgba(140, 140, 133, 1) 0%,
    rgba(112, 112, 104, 1) 21%,
    rgba(92, 92, 82, 1) 53%,
    rgba(56, 56, 44, 1) 82%
  );
  width: 100%;
  height: 90vh;
  letter-spacing: 0.5mm;
  color: whitesmoke;
}

.img {
  width: 300px;
  height: 300px;
}

.text {
  text-align: center;
  margin-top: 40px;
}
